
<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <li class="nav-item">
    <a class="nav-link" href="#"><i class="fab fa-twitter-square"> Twitter</i></a>


    <a class="nav-link" href="#"><i class="fab fa-instagram"> Instagram</i></a>

    <a class="nav-link" href="#"><i class="fab fa-facebook-square"> Facebook</i></a>
  </li>
</nav>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 <!-- Include all compiled plugins (below), or include individual files as needed -->
  </body>
</html>
